/*.main{


    & .wrap{
        width:100vw;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-items: center;

        & .contactform{
            width:1160px;
            height:auto;
            display:grid;

        }
    }

}*/
.contactspage {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.contactspage .wrap {
  width: 1160px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 23%;
}

.contactspage .wrap .contactform__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #31a8e0;
  font-size: 56px;
}

.contactspage .wrap .contactform .card {
  width: 1160px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (116px)[10];
      grid-template-columns: repeat(10, 116px);
  -ms-grid-rows: 5 1fr;
      grid-template-rows: 5 1fr;
  grid-row-gap: 30px;
}

.contactspage .wrap .contactform .card__name {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  height: 50px;
  border: none;
  padding-left: 15px;
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contactspage .wrap .contactform .card__mail {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 10;
  height: 50px;
  border: none;
  padding-left: 15px;
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contactspage .wrap .contactform .card__title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  height: 50px;
  border: none;
  padding-left: 15px;
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contactspage .wrap .contactform .card__comment {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  height: 200px;
  padding-left: 15px;
  padding-top: 10px;
  border: none;
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contactspage .wrap .contactform .card__button {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  border: none;
  background-color: #31a8e0;
  border-radius: 5px;
  height: 50px;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contactspage .offices {
  margin-top: 50px;
}

.contactspage .offices__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
  grid-column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactspage .offices__wrap .officediv {
  width: 300px;
  height: auto;
  font-size: 1rem;
  line-height: 1.7em;
  border-left: 2px solid #11b0e4;
  border-radius: 4px;
}

.contactspage .offices__wrap .officediv__head {
  color: #31a8e0;
  font-weight: bold;
}

.contactspage .offices__wrap .officediv__list::marker {
  color: #4b4b4b;
}

.contactspage .offices__wrap .officediv__head, .contactspage .offices__wrap .officediv__list {
  margin-left: 20px;
}

.contactspage__map {
  width: 100vw;
  height: 680px;
  margin-top: 30px;
}
/*# sourceMappingURL=contactspage.css.map */