html {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*text-align  : center;*/
}

.header {
  margin: 0;
}

.header__topheader {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eceef4;
}

.header__wrap {
  width: 1160px;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 260px;
      grid-template-columns: 450px 260px;
  grid-column-gap: 450px;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[4];
      grid-template-columns: repeat(4, 100px);
  width: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 50px;
  grid-column-gap: 7px;
}

.header__block {
  width: 100px;
  height: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18px 45px;
      grid-template-columns: 18px 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12pt;
  line-height: 22.6pt;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header__log {
  margin-left: 8px;
}

.header__a {
  text-decoration: none;
  color: #8a8b8d;
  text-decoration: none;
  font-weight: bold;
}

.header__a:nth-child(1) {
  margin-left: 23pt;
}

.header__a:nth-child(2) {
  margin-left: 15pt;
}

.header__a:nth-child(3) {
  margin-left: 10pt;
}

.header__a:nth-child(4) {
  margin-left: 18pt;
}

.header__social {
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (65px)[4];
      grid-template-columns: repeat(4, 65px);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  border-right: 1px solid #d7d9df;
}

.header__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #d7d9df;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader {
  height: 218px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*&__logo{
        margin-left:-130px;
    }*/
}

.mainheader__wrap {
  width: 1160px;
  height: 218px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 410px 220px;
      grid-template-columns: 410px 220px;
  grid-column-gap: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader__img {
  width: 405px;
  height: 95px;
  margin: 0;
  padding: 0;
  margin-left: -60px;
}

.mainheader__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.mainheader__div {
  width: 70px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainheader__div:nth-child(1) {
  background-image: url(../icons/phone.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mainheader__div:nth-child(2) {
  border-left: 1px solid #bcbec3;
  border-right: 1px solid #bcbec3;
  background-image: url(../icons/map0.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.mainheader__div:nth-child(2):hover {
  background-image: url(../icons/map.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mainheader__div:nth-child(2):hover .mainheader__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #d4d4d5;
  font-weight: bold;
  bottom: 35px;
  border: 1px solid #d4d4d5;
  position: absolute;
}

.mainheader__div:nth-child(2):hover .mainheader__p::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid grey;
}

.mainheader__div:nth-child(2):hover .mainheader__p::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.mainheader__div:nth-child(3) {
  background-image: url(../icons/mail.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mainheader__p {
  position: absolute;
  display: none;
}

.header__mainnav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #eceef4;
  margin: 0;
  padding: 0;
}

.header__navwrap {
  width: 1160px;
  height: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 762px 250px;
      grid-template-columns: 762px 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 157px;
}

.header__navmenu {
  width: 762px;
  height: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1px;
  /*text-align: center;
    justify-items: center;*/
  padding-left: 0;
  margin: 0;
}

.header__divlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  border-left: 1px solid #eceef4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__divlink:nth-child(1) {
  width: 75px;
}

.header__divlink:nth-child(2) {
  width: 165px;
}

.header__divlink:nth-child(3) {
  width: 136px;
}

.header__divlink:nth-child(4) {
  width: 136px;
}

.header__divlink:nth-child(5) {
  width: 152px;
}

.header__divlink:nth-child(6) {
  width: 98px;
}

.header__divlink:hover::before {
  content: '';
  display: block;
  position: absolute;
  bottom: .5px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 10px solid grey;
}

.header__divlink:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.5px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 10px solid #1faae2;
}

.header__linka {
  text-decoration: none;
  font-size: 13pt;
  line-height: 27pt;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__input {
  border: none;
  margin-left: 10px;
  font-size: 15px;
  color: #6d6e71;
}

.main__mainpage {
  padding: 0;
  width: 100vw;
  height: 890px;
  background-image: url(../img/iback.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__firsmtxt {
  position: absolute;
  z-index: 2;
  top: 26%;
  left: 29.1%;
  color: #ffffff;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
}

.main__secondmtxt {
  position: absolute;
  z-index: 1;
  top: 36%;
  left: 36.3%;
  color: #ffffff;
  font-size: 58.5px;
  font-weight: lighter;
}

.main__endchar {
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 30%;
  color: #bbedff;
  font-size: 150px;
  font-weight: bold;
}

.main__wrapdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .aboutus {
  width: 1160px;
  height: auto;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (565px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 565px);
}

.main .aboutus__card {
  width: 565px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 390px;
      grid-template-columns: 120px 390px;
}

.main .aboutus__card-img {
  width: 106px;
  height: 113px;
}

.main .aboutus__card-div {
  width: 390px;
  height: auto;
}

.main .aboutus__card-h3 {
  font-size: 26pt;
  color: #6d6e71;
}

.main .aboutus__card-p {
  font-size: 16pt;
  line-height: 24pt;
  color: #6d6e71;
}

.main .aboutus__link {
  font-size: 22pt;
  color: #1faae2;
  text-decoration: none;
  margin-bottom: 120px;
}

.main .aboutus__link:hover {
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}

.main .services {
  /*margin-top:120px;*/
  -ms-flex-item-align: center;
      align-self: center;
  width: 1160px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .services__head {
  width: 800px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 600px;
      grid-template-columns: 140px 600px;
  grid-column-gap: 20px;
}

.main .services__head-img {
  width: 130px;
  height: 115px;
}

.main .services__head__div {
  width: 600px;
  height: auto;
  padding: 0;
}

.main .services__head-h2 {
  font-size: 44pt;
  color: #6d6e71;
  padding: 0;
  margin: 0;
}

.main .services__head-p {
  font-size: 17pt;
  color: #6d6e71;
  padding: 0;
  margin: 0;
}

.main .services__servart {
  width: 1160px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (550px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 550px);
  grid-column-gap: 60px;
  grid-row-gap: 90px;
  margin-top: 70px;
}

.main .services__servart .servartdiv {
  width: 550px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 415px;
      grid-template-columns: 100px 415px;
  grid-column-gap: 20px;
}

.main .services__servart .servartdiv__ico1 {
  width: 68px;
  height: 81px;
}

.main .services__servart .servartdiv__ico2 {
  width: 65px;
  height: 86px;
}

.main .services__servart .servartdiv__ico3 {
  width: 88px;
  height: 97px;
}

.main .services__servart .servartdiv__ico4 {
  width: 93px;
  height: 69px;
}

.main .services__servart .servartdiv__ico5 {
  width: 90px;
  height: 93px;
}

.main .services__servart .servartdiv__ico6 {
  width: 68px;
  height: 81px;
}

.main .services__servart .servartdiv__cont-p1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #6d6e71;
}

.main .services__servart .servartdiv__cont-p2 {
  margin: 0;
  /*word-break: break-all;*/
  hyphens: auto;
  font-size: 16px;
  color: #6d6e71;
  margin-top: 20px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.main .services__link {
  font-size: 22pt;
  color: #1faae2;
  text-decoration: none;
  margin-bottom: 120px;
}

.main .services__link:hover {
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}

.main .projects {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
}

.main .projects__head {
  width: 600px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 380px;
      grid-template-columns: 150px 380px;
  grid-column-gap: 20px;
}

.main .projects__head-img {
  width: 138px;
  height: 151px;
}

.main .projects__head-cont {
  width: 380px;
  height: auto;
  margin: 0;
  padding: 0;
}

.main .projects__head-cont .h1 {
  font-size: 44pt;
  color: #6d6e71;
  margin: 0;
  padding: 0;
}

.main .projects__head-cont .p {
  color: #6d6e71;
  margin: 0;
  padding: 0;
  font-size: 17pt;
}

.main .projects__menu {
  width: 760px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repaeat(auto-fill, 1fr);
      grid-template-columns: repaeat(auto-fill, 1fr);
}

.main .projects__menu-p1 {
  width: 122px;
}

.footer {
  widows: 100vw;
  height: 263px;
  background-color: #2b2c2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.footer__wrap {
  width: 1160px;
  height: 263px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  width: 257px;
  height: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__div {
  width: 63px;
  height: 60px;
  border-left: 1px solid #3c3e3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__div:nth-child(4) {
  border-left: 1px solid #3c3e3f;
  border-right: 1px solid #3c3e3f;
}

.footer__form {
  width: 593px;
  height: 67px;
  background-color: #393b3c;
  border: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  margin-left: 20px;
}

.footer__input {
  height: 30px;
  width: 255px;
  border: transparent;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #6d6e71;
  margin-left: 26px;
}

.footer__button {
  width: 77px;
  height: 45px;
  border: transparent;
  background-color: #494c4d;
  border-radius: 10px;
  color: #6d6e71;
  font-size: 14px;
  font-weight: bold;
  margin-left: 170px;
}
/*# sourceMappingURL=Main.css.map */