.form {
    width: 500px;
    margin: auto;
    box-shadow: 1px 1px 8px -2px grey;
    border-radius: 5px;
    padding: 20px 40px;
}

.form__field {
    width: 100%;
    padding: 10px 0;
}

.form__field>label {
    font-style: italic;
    color: #386060;
    font-size: 24px;
}

.form__field>input {
    width: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}