.main{

    & .aboutpage{
        width:100vw;
        height:auto;
        display:flex;
        justify-content:center;
    }    

    & .articleus
    {
        height:auto;
        width: 1160px;
        display: block;
        
        &__h1{
            font-size: 26pt;
            color:#6d6e71;
            font-weight:bold;
            font-style: italic;
        }
        &__p1{
            color:#6d6e71;
            font-size:20pt;
        }

        &__p2{
            color:#6d6e71;
            font-size:20pt;
        }

        &__p3{
            color:#6d6e71;
            font-size:20pt;
        }

    }

&__img{
    margin:0;
    padding:0;
}

}