html {
  width      : 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x:hidden;

}

body{
  margin:0;
  padding:0;
}

.main {
  width       : 100vw;
  height      : auto;
  display     : inline-block;
  align-items  : center;
  /*text-justify: center;*/
  margin:0;
  padding:0;

}

.header {
  margin:0;
  }

@import "main-topheader";

@import "main-mainheader";

@import "header-nav";

@import "aboutpage";

@import "footer";

  