.main{
    
    
    &__mainpage{
        
    padding:0;
        width:100vw;
        height: 890px;
        background-image: url(../img/iback.png);
        display:flex;
        position:relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       

    }

    &__firsmtxt{
        position: absolute;
        z-index: 2;
        top: 26%;
        left:29.1%;
        color:#ffffff;
        font-size: 75px;
        font-weight: bold;
        text-transform: uppercase;
        
    }

    &__secondmtxt{
        position: absolute;
        z-index: 1;
        top:36%;
        left:36.3%;
        color:#ffffff;
        font-size: 58.5px;
        font-weight: lighter;
    }

    &__endchar{
        position: absolute;
        z-index: 0;
        top: 25%;
        left: 30%;
        color: #bbedff;
        font-size: 150px;
        font-weight: bold;
       
    }

    &__wrapdiv{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content:center;
    }



    
}

    
