  .header{
  
  & .topheader{
    width: 100vw;
    display:flex;
    justify-content: center;
    background-color       : #eceef4;
  }

  & .wrap {
    width                  :1160px;
    height                 : 60px;
    display                : grid;
    grid-template-columns  : 450px 260px;
    grid-column-gap: 450px;
    
  }

  & .nav {
    display              : grid;
    grid-template-columns: repeat(4, 100px);
    width                : 450px;
    align-items          : center;
    justify-items        : center;
    height               : 50px;
    grid-column-gap: 7px;

        &__block {
            width:100px;
            height: 35px;
            display: grid;
            grid-template-columns: 18px 45px;
            align-items: center;
            font-size: 12pt;
            line-height:22.6pt;
            background-color: #ffffff;
            border-radius: 5px   ;
            -webkit-border-radius: 5px   ;
            -moz-border-radius: 5px   ;
            -ms-border-radius: 5px   ;
            -o-border-radius: 5px   ;

            &-log{margin-left: 8px;} 
            
            &-a{
                text-decoration: none;
                color: #8a8b8d;
                text-decoration: none;
                font-weight: bold;
                &:nth-child(1){margin-left:23pt;}
                &:nth-child(2){margin-left:15pt;}
                &:nth-child(3){margin-left:10pt;}
                &:nth-child(4){margin-left:18pt;}
            }
            
            
        }

  }
   & .social {
      height: 60px;
      display: grid;
      grid-template-columns: repeat(4, 65px);
      align-content: center;
      justify-content: center;
      justify-self:flex-end;
      border-right: 1px solid #d7d9df;
      
      &__div{
        display:flex;
        border-left: 1px solid #d7d9df;
        height:60px;
        align-items          : center;
        justify-content: center;
        
      }
    }
  

}